<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>zlweb for Django</title>
    <meta name="description" content="">
    <meta name="author" content="Dylan Verheul">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<script src="/static/js/jquery-1.9.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	{% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/index">web_django</a>
            <ul class="nav">
                <li> 查询</li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="max_div">

			{% block content %}Empty page{% endblock %}

</div> <!-- container -->

</body>
</html>
